﻿@model List<Category>
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>
<form id="createProduct">
    <div class="form-group">
        <label>Category</label>
        <select class="form-control" name="CategoryID">
            @foreach (var category in Model)
            {
                <option value="@category.ID">@category.Name</option>
            }

        </select>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="name" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input class="form-control" name="description" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input class="form-control" name="price" />
    </div>
    <button id="saveBtn" type="button" class="btn btn-primary">Submit</button>
    
</form>


@*<form id="createProduct">
    <label>Category</label>
    <select name="CategoryID">
        @foreach (var category in Model)
            {
            <option value="@category.ID">@category.Name</option>
        }
       
    </select>
    <label>Name</label>
    <input name="name" />
    <br />
    <label>Description</label>
    <input name="description" />
    <br />
    <label>Price</label>
    <input name="price" />
    <br />
    <button id="saveBtn" type="button">Submit</button>
</form>*@

<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '/Product/Create',
            data: $("#createProduct").serialize(),
        })
        .done(function (response) {
            // alert(reponse);
            $("#tableContainer").html(response);
            $("#actionContainer").html("");
        })
        .fail(function (XMLHttpRequest, txtStatus, errorThrown) {
            alert("Fail");
        })
    })
</script>
