﻿
@model Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Product</h2>

<form id="editProduct">
    <input type="hidden" name="ID" value="@Model.ID"/>
    <label>Name</label>
    <input name="name" value="@Model.Name"/>
    <br />
    <label>Description</label>
    <input name="description" value="@Model.Description"/>
    <br />
    <label>Price</label>
    <input name="price" value="@Model.Price" />
    <br />
    <button id="updateBtn" type="button">Update</button>
</form>

<script>
    $("#updateBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '/Product/Edit',
            data: $("#editProduct").serialize(),
        })
        .done(function (response) {
            // alert(reponse);
            $("#tableContainer").html(response);
            $("#actionContainer").html("");
        })
        .fail(function (XMLHttpRequest, txtStatus, errorThrown) {
            alert("Fail");
        })
    })
</script>
