﻿@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}

<div>
    <form method="post">
     
       

            <div class="row">
               
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Search</label>
                        <input class="form-control" id="searchTxt" name="Search" />
                    </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @*<label>Action</label>*
                        <div class="row">

                            <div class="col-md-6">
                                <button class="btn btn-primary form-control" type="button" id="searchBtn">Search</button>

                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-success form-control" type="button" id="newBtn">New</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
          
           
        </div>
       
    </form>
  
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    @if(product.Category != null)
                    {
                    <td>@product.Category.Name</td>
                    }
                    else{
                    <td>-</td>
                    }
                    <td>@product.Price</td>
                    <td>
                        <button class="editBtn" data-id="@product.ID">Edit</button>
                        <button class="deleteBtn" data-id="@product.ID">Delete</button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

<script>
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
    
        $.ajax({
            type: 'GET',
            url: '/Product/ProductTable',
            data: {
                search: searchValue,
            }
        })
        .done(function (response) {
            // alert(reponse);
            $("#tableContainer").html(response);
           
        })
        .fail(function (XMLHttpRequest,txtStatus,errorThrown) {
            alert("Fail");
        })
    })

    $("#newBtn").click(function () {
       
        $.ajax({
            type: 'GET',
            url: '/Product/Create',
           
        })
        .done(function (response) {
            // alert(reponse);
            $("#actionContainer").html(response);
          
        })
        .fail(function (XMLHttpRequest, txtStatus, errorThrown) {
            alert("Fail");
        })
    })

    $(".editBtn").click(function () {
     
        $.ajax({
            type: 'GET',
            url: '/Product/Edit',
            data: {
                ID: $(this).attr("data-id")
    }

    })
        .done(function (response) {
            // alert(reponse);
            $("#actionContainer").html(response);

        })
        .fail(function (XMLHttpRequest, txtStatus, errorThrown) {
            alert("Fail");
        })
    })

    $(".deleteBtn").click(function () {
        var confirmDelete = confirm("Are you sure you want to delete")
        if (confirmDelete)
        {
            $.ajax({
                type: 'POST',
                url: '/Product/Delete',
                data: {
                    ID: $(this).attr("data-id")
                }

            })
                  .done(function (response) {
                      // alert(reponse);
                      $("#tableContainer").html(response);

                  })
                  .fail(function (XMLHttpRequest, txtStatus, errorThrown) {
                      alert("Fail");
                  })
        } else {

        }
      
    })
</script>