﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>
<form method="post">
    

    <label>Name</label>
    <input name="name"/>
    <br />
    <label>Description</label>
    <input name="description"/>
    <br />
    <label>Image</label>
    <input id="ImageURL" name="ImageURL" type="hidden" />
    <input id="imageUpload" name="Image" type="file" accept=".png,.jpg"/>
    

    <div class="thumb">
        
        <img id="categoryImgage" />
    </div>
    <br />
    <button type="submit">Save</button>
</form>

<script>
    $("#imageUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for(var i=0;i<totalFiles;i++)
        {
            var file= element.files[i];
            formData.append("Photo",file);
        }

        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType:'json',
            data: formData,
            contentType:false,
        processData:false
        })
       .done(function (response) {
           debugger;
           console.log(response);
           if(response.Success)
           {
               $("#ImageURL").val(response.ImageUrl);
               $("#categoryImgage").attr("src",response.ImageUrl)
           }

       })
       .fail(function (XMLHttpRequest, txtStatus, errorThrown) {
           alert("Fail");
       })
    });
</script>