﻿ @model ClothBazar.Entities.Category
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Category</h2>
<form method="post">
    <input name="ID" value="@Model.ID" type="hidden" />
    <label>Name</label>
    <input name="name" value="@Model.Name"/>
    <br />
    <label>Description</label>
    <input name="description" value="@Model.Description"/>
    <br />
    <button type="submit">Submit</button>
</form>